<div class="row justify-content-center">
  <% for ticker in @all_tickers %>
    <div class="card bg-primary">
      <div class="card-body">
        <p class="card-title"><%= ticker %></p>
      </div>
    </div>
  <% end %>
</div>
